@font-face {
  font-family: 'Helvetica Neue Bold';
  src: url("helvetica-neue-bold.eot");
  src: url("helvetica-neue-bold.eot?#iefix") format("embedded-opentype"), url("helvetica-neue-bold.ttf") format("truetype"), url("helvetica-neue-bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
