<<<<<<< HEAD
.fontyourface-8 { font-family: 'Circular Book'; font-style: normal; font-weight: normal; }
=======
.fontyourface-3 { font-family: 'Circular Black'; font-style: normal; font-weight: normal; }
.fontyourface-2 { font-family: 'Circular Bold'; font-style: normal; font-weight: normal; }
.fontyourface-1 { font-family: 'Circular Book'; font-style: normal; font-weight: normal; }
>>>>>>> 47aad88c7e171ec6676d010818aa2f297fb8f4bb
